.bundle
db/*.sqlite3
log/*.log
tmp/**/*
.DS_Store
rerun.txt
db/test.sqlite3  
db/development.sqlite3
doc/api
doc/app
config/database.ymlß
coverage/*
db/schema.rb
public/system/*
doc/TODO.txt
mkmf.log
solr/data/*
capybara*

